{% extends "layouts/base-fullscreen.html" %}

{% block title %} Réinitialiser Mot de passe {% endblock %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-mail auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Réinitialiser Mot de passe</h3>

                    {% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
{% endif %}

{% if success %}
  <div class="alert alert-success" role="alert">
    {{ success }}
  </div>
{% endif %}

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                          <label for="email">Adresse e-mail</label>
                          <input type="email" name="email" class="form-control" id="email" required>
                        </div>

                        <div class="form-group mb-3">
                          <label for="question">Question secrète</label>
                          <select name="question" class="form-control" id="question" required>
                            {% for choice in question_choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group mb-3">
                          <label for="answer">Réponse</label>
                          <input type="text" name="reponse" class="form-control" id="reponse" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="password1">Nouveau mot de passe</label>
                            <input type="password" name="password1" class="form-control" id="password1" required>
                          </div>
                          <div class="form-group mb-3">
                            <label for="password2">Confirmer le nouveau mot de passe</label>
                            <input type="password" name="password2" class="form-control" id="password2" required>
                          </div>


                    <button class="btn btn-primary mb-4 shadow-2">Réinitialiser</button>
                    <p class="mb-0 text-muted">Vous avez compte? <a href="{% url 'login' %}" >Connectez-vous</a></p>
                    <p class="mb-0 text-muted">Vous n'avez pas de compte? <a href="{% url 'register' %}">Enregister vous</a></p>
                    <br>
                    <p class="mb-2 text-muted">
                      &copy; <a target="_blank" href="https://www.facebook.com/chynel.soki">Ferrand SOKI</a> 
                      - <a target="_blank" href="https://www.linkedin.com/in/ferrand-soki/">Django Developpeur</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
