{% extends 'base.html' %}

{% block content %}
<h4>Créer votre Compte</h4>

{% for message in messages %}

 <strong>{{ message }}<strong>

{% endfor %}

<form method="post" action="Enregistrer">
    {% csrf_token %}
    <label for="Email">Email</label>
    <input type="email" name="email" id="email_client" placeholder="Entrer votre email" required>
    <br><br>
    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password" placeholder="Entrer votre mot de passe" required>
    <br><br>
    <label for="password1">Confirmer mot de passe</label>
    <input type="password" name="password1" id="password1" placeholder="Confirmer votre mot de passe" required>
    <br><br>
    <button type="submit">Enregistrer</button>

</form>
{% endblock%}