{% extends 'base.html' %}

{% block content %}
{% for message in messages %}

 <strong>{{ message }}<strong>

{% endfor %}
{% if customuser.is_authenticated %}
    <h3>Vous êtes connecté avec l'adresse {{ email }} Bienvenu sur ManagHotels</h3>
    <a>connecter</a>
    <button type="submit"><a href="logout_view">Se deconnecter</a></button>
{% else %}
    <a>non connecter</a>
    <button type="submit"><a href="Enregistrer">Créer un compte</a></button>
    <button type="submit"><a href="login">Se connecter</a></button>
{% endif %}


{% endblock %}