{% extends 'base.html' %}
<title>{% block title %}Login{% endblock %}</title>


{# -- importations des filtres -- #}
{% load static %}

{% block content %}

<!-- mise en place des fichiers externes -->
<link rel = "stylesheet" href = "{% static 'css/style.css' %}"/>
    <h4>Connectez-vous à votre compte</h4>
  
    {% for message in messages %}
      <strong>{{ message }}</strong>
    {% endfor %}
  
<div class="form-container">

    <div class="overlay">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

    <form method="POST" action="{% url "login" %}">
      {% csrf_token %}
      <label for="Email">Email : </label>
      <input type="email" name="email" id="email_client" placeholder="Entrer votre email" required>
      <label for="password">Mot de passe : </label>
      <input type="password" name="password" id="password" placeholder="Entrer votre mot de passe" required>
      <button type="submit">Se connecter</button>
      <a href="#" id="sign-in">Sign in</a> | <a href="#" id="password-link">Modifier le mot de passe</a>
      <div class="overlay"></div>
    </form>
  </div>

    <!-- mise en place des fichiers javascript -->
			<script src = "{% static 'js/login.js' %}"></script>

{% endblock %}