{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Changer ou ajouter des Infos vous concernant</h5>
                                        </div>

                                        <center>
                                        <span class="mb-0 text-muted">
                                            {% if msg %}
                                                <span class="text-danger">{{ msg | safe }}</span>
                                            {% else %}
                                                Entrer les informations
                                            {% endif %} 
                                        </span>
                                        </center>

                                <!-- Partie formulaire photo et profile -->
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="https://via.placeholder.com/500" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">{{ user.email }}</h4>
                                                    <p class="font-italic text-muted">ManagHotels.com</p>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <form method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="{{ profile_form.phone.id_for_label }}">Téléphone</label>
                                                        <input type="text" name="{{ profile_form.phone.name }}" id="{{ profile_form.phone.id_for_label }}" class="form-control" value="{{ profile_form.phone.value }}" placeholder="{{ profile_form.phone.label }}">
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label for="{{ profile_form.image.id_for_label }}">Photo de profil</label>
                                                        <input type="file" name="{{ profile_form.image.name }}" id="{{ profile_form.image.id_for_label }}" class="form-control">
                                                    </div>
                                                    
                                                
                                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                </form>
                                                
                                                
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-facebook"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-twitter"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-instagram"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fin Formulaire profile et photo-->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}