{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Emission de Messages</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Message</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Créer Message</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Message</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5>Créer un message</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                                                {{ message }}
                                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <form method="POST" action="{% url 'creer_message' %}">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="{{ form.sujet.id_for_label }}">Sujet</label>
                                                            {{ form.sujet }}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="{{ form.message.id_for_label }}">Message</label>
                                                            {{ form.message }}
                                                        </div>
                                                        {% if form.errors %}
                                                        <div class="alert alert-danger" role="alert">
                                                            {% for field, errors in form.errors.items %}
                                                            <strong>{{ field }}:</strong>
                                                            {% for error in errors %}
                                                            {{ error }}{% if not forloop.last %}<br>{% endif %}
                                                            {% endfor %}
                                                            {% endfor %}
                                                        </div>
                                                        {% endif %}
                                                        <button type="submit" class="btn btn-sm btn-info">Envoyer</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><u>Liste Messages Envoyés</u></h5>
                                            <span class="d-block m-t-5">Vous ne pouvez ajouter sur cette liste que 25 messages</span>
                                            <span class="d-block m-t-5">Veillez s'il vous plaît consulter régulièrement les réponses à vos messages</span>

                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Sujet</th>
                                                            <th>Messages</th>
                                                            <th>Action Suppression</th>
                                                            <th>Consulter réponse</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for message in messages_liste %}
                                                            <tr>
                                                                <th scope="row">{{ forloop.counter }}</th>
                                                                <td>{{ message.sujet|truncatechars:11 }}</td>
                                                                <td>{{ message.message|truncatechars:21 }}</td>
                                                                <td>
                                                                    <form method="POST" action="{% url 'supprimer_message' message_id=message.id %}">
                                                                        {% csrf_token %}
                                                                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                                                    </form>
                                                                </td>
                                                                <td>
                                                                    <form method="GET" action="{% url 'message_reponse' message.id %}">
                                                                        <button type="submit" class="btn btn-sm btn-info">Consulter réponse</button>
                                                                    </form>
                                                                </td>                                                            
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}