{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Form Elements</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Basic Componant</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5>Form controls</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">


                                            <h1>Créer un message</h1>
                                            <form method="POST" action="{% url 'creer_message' %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                <label for="{{ form.sujet.id_for_label }}">Sujet</label>
                                                {{ form.sujet }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{ form.message.id_for_label }}">Message</label>
                                                    {{ form.message }}
                                                </div>
                                                {% if form.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {% for field, errors in form.errors.items %}
                                                    <strong>{{ field }}:</strong>
                                                    {% for error in errors %}
                                                        {{ error }}{% if not forloop.last %}<br>{% endif %}
                                                    {% endfor %}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                                <button type="submit">Envoyer</button>
                                            </form>


                                                </div>
                                                <div class="col-md-6">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}